<template>

	<div class="panel-block">

		<div class="flowrate">

			<div class="mdl-card mdl-shadow--2dp mdl-cell margin-top-0-important mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col">
		        some charts will be generated here
		        {{ this.$refs.chartjsline }}
		    </div>

		</div>

	</div>

</template>

<script>
	
	export default {
		props: [
		'flowrate'
		]
	}

</script>